doctype

html
    head
        style.
            body {
                font-family: Helvetica Neue, Helvetica, arial;
                font-weight: 200;
                color: #333;
                -webkit-font-smoothing: antialiased;
                padding: 30px;
            }

            * {
                font: inherit;
                color: inherit;
                padding: 0;
                margin: 0;
            }

            pre {
                font-family: monospace;
            }

            h1 {
                font-size: 2.5em;
                margin-bottom: .5em;
            }

            ul {
                list-style: none;
            }

            .bottles .bottle {
                margin: .5em 0;
                border: 1px solid #eee;
            }

            .bottles .bottle a {
                background: #333;
                color: #fff;
                padding: .4em .6em;
                font-weight: bold;
                text-decoration: none;
                display: inline-block;
                margin-right: 1em;
                width: 200px;
                text-align: right;
            }
    body
        h1 Bottle Directory

        ul.bottles: each object in objects
            li.bottle(id=object.name)
                a(href='#' + object.name)=object.name
                span.config-keys=object.configKeys.join(', ')
